In [27]:
import csv
import pandas as pd

In [28]:
df=pd.read_csv("BWFakeData.csv")
df.head(20)

,category,annualSpent,ads,aur,upt,numberDept,age,income,category2016
0,0,1759.421795,140.464451,47.556727,4.620009,8.930614,36.623663,1.864577e+04,2
1,0,1880.669988,147.843975,50.842267,2.697264,16.236654,42.463830,1.179414e+04,2
2,0,1804.752500,135.521809,46.602775,3.176552,13.035764,50.735346,2.803619e+03,3
3,0,1809.832440,135.394786,46.470116,3.858477,10.451589,43.523703,1.653674e+04,2
4,0,1764.468994,133.000690,50.808492,2.922931,13.854117,44.613539,1.919569e+05,2
5,0,1769.754335,141.645603,48.563002,2.871040,10.503275,47.796495,2.303279e+04,2
6,0,1746.878510,142.751116,49.649882,3.160468,5.701971,49.321058,1.562139e+05,3
7,0,1792.153290,139.254192,42.310061,1.564370,11.501427,39.270344,5.380528e+04,1
8,0,1845.485767,131.564025,59.911918,2.648730,7.691828,46.545910,6.835590e+04,0
9,0,1828.222660,136.118391,58.139822,2.987324,15.622356,40.522519,1.995329e+06,4
10,0,1764.043836,134.505793,52.201946,2.520435,8.900382,43.285800,2.701029e+03,1
11,0,1829.686965,139.575788,42.075690,0.832017,17.655638,51.197466,7.274107e+04,0
12,0,1805.889605,140.191073,48.464294,3.214456,15.147690,51.134748,1.244902e+03,2
13,0,1842.223740,140.649227,50.544773,2.933548,15.591351,46.108201,1.704211e+03,3
14,0,1830.232150,142.289892,49.054640,1.522192,10.101846,46.265141,1.095431e+05,2
15,0,1751.815255,130.562689,43.613889,1.604642,6.168583,40.442885,1.084918e+07,2
16,0,1786.048338,135.928800,51.768507,3.208416,10.952636,47.576034,4.785302e+03,2
17,0,1786.300733,140.570658,46.248158,1.009931,9.087681,43.492546,2.410147e+04,0
18,0,1815.739266,144.119072,47.900284,2.361093,15.602984,40.598724,1.136930e+03,1
19,0,1775.778446,138.769095,54.339889,1.986810,13.785489,49.690828,1.491009e+04,1

In [29]:
migrationsStacked = df.groupby(['category','category2016']).agg({'ads' : 'sum'}) 
migrations = migrationsStacked.unstack(level=-1)
migrations = migrations.fillna(0)
#migrations["total"]= migrations.sum(1)

migrations= migrations.apply(lambda x: 100*x/float(x.sum()),axis=1).round(2)
migrations

                ads
category2016      0      1      2      3      4
category
0             15.80  24.06  28.24  16.14  15.76
1              8.27  24.71  25.79  14.09  27.15
2              8.73  16.99  24.89  21.15  28.24
3             12.82  22.38  18.84  17.97  28.00
4              8.02  18.89  28.67  15.54  28.88

In [31]:
migrations.columns= migrations.columns.droplevel()

AttributeError: 'Int64Index' object has no attribute 'droplevel'

In [32]:
migrations.to_html()

u'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>category2016</th>\n      <th>0</th>\n      <th>1</th>\n      <th>2</th>\n      <th>3</th>\n      <th>4</th>\n    </tr>\n    <tr>\n      <th>category</th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>15.80</td>\n      <td>24.06</td>\n      <td>28.24</td>\n      <td>16.14</td>\n      <td>15.76</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>8.27</td>\n      <td>24.71</td>\n      <td>25.79</td>\n      <td>14.09</td>\n      <td>27.15</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>8.73</td>\n      <td>16.99</td>\n      <td>24.89</td>\n      <td>21.15</td>\n      <td>28.24</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>12.82</td>\n      <td>22.38</td>\n      <td>18.84</td>\n      <td>17.97</td>\n      <td>28.00</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>8.02</td>\n      <td>18.89</td>\n      <td>28.67</td>\n      <td>15.54</td>\n      <td>28.88</td>\n    </tr>\n  </tbody>\n</table>'